.detalles {
    display: inline-block; 
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.425);
    border-radius: 20px;
}
  
.imagen-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}

.imagen{
    max-width: 580px; 
    max-height: 580px; 
}
  
.info {
    text-align: center;
}
  
.detalleGeneros {
    list-style-type: none; 
    padding: 0;
    color: #f4f0f0;
    display: flex;
    justify-content: center;
}

.detalleGeneros li {
    margin: 0 10px; 
    padding: 5px 10px; 
    border-radius: 10px; 
    border: 1px solid #f4f0f0; 
}

.generosContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
.generosTitulo {
    margin-top: 5px; 
    color: white;
    margin-bottom: 2px;
}
  
.sinopsis {
    max-width: 600px;
}
  
.detalleRating, .detalelEstreno, .detalleDuracion, .sinopsis, .generosTitulo {
    display: block; 
    border-radius: 10px;
    padding: 10px;
    background-color: #4a4a4a;
    color: white;
    margin-bottom: 10px;
}

.container {
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.overview {
    font-style: italic;
    font-weight: normal;
}