.footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}
  
.footer p {
    margin: 0;
}
  
.contenedor-principal {
    position: relative;
    padding-bottom: 80px; 
}